    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="brand-heading">Data Galaxy</h1>
                        

                       <a href="{{ site.url }}/hadoop"><button type="button" class="btn btn-default showcase-button" id = "category-title" >Hadoop</button></a>
                       <br>

                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </header>